page-settings {
    .st0{fill:#6AADAB;}
	.st1{fill:#040506;}
	.st2{fill:#FFFFFF;}

    .slides { width:60% !important; }
    .bottom-page-content { position: fixed; bottom: 40px; }

    /* Buttons */
    // button[disabled], [ion-button][disabled] { opacity: 1; }
    #male, #female { width: 55px; height: auto;}
    #male-selected, #female-selected { display: none; }
    .selected #male-selected,
    .selected #female-selected
    { display: block; }

    #lets-go { width: 200px; height: auto;}
}
